:root {
  --bg-color: #0d1117;
  --card-bg: #161b22;
  --text-color: #e6edf3;
  --accent-color: #58a6ff;
  --muted-text: #8b949e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var(--accent-color);
}

section {
  padding: 80px 10%;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}
