.experience {
  background-color: var(--bg-color);
}

.experience-card {
  background-color: var(--card-bg);
  padding: 25px;
  border-radius: 12px;
  margin: 30px auto;
  max-width: 700px;
  text-align: left;
  box-shadow: 0 0 10px rgba(88, 166, 255, 0.1);
}

.experience-card h3 {
  color: var(--accent-color);
}

.duration {
  color: var(--muted-text);
  font-size: 0.9rem;
}

.experience-card ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

li {
  margin: 2px 2px;
}

.experience-card li::before {
  content: "› ";
  color: var(--accent-color);
}
